In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import StandardScaler, LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
import lightgbm as lgb
from bayes_opt import BayesianOptimization

import matplotlib.pyplot as plt
import seaborn as sns
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
#         print(os.path.join(dirname, filename))
        pass

In [30]:
all_train_data = pd.read_csv('train.csv')
all_test_data = pd.read_csv('test.csv')
sample_submission = pd.read_csv('sample_submission.csv')
all_train_data.dropna(inplace=True)
all_test_data.dropna(inplace=True)

dropped_columns = ['GPA','year_graduated']
y_train = all_train_data['Best Performance']
X_train = all_train_data.drop('Best Performance',axis=1)

#read x_test
for col in dropped_columns:
    X_train = X_train.drop(col,axis=1)
X_test = all_test_data

for col in dropped_columns:
    X_test = X_test.drop(col,axis=1)

In [31]:
X_train.isna().sum()

job_level                                0
job_duration_in_current_job_level        0
person_level                             0
job_duration_in_current_person_level     0
job_duration_in_current_branch           0
Employee_type                            0
gender                                   0
age                                      0
marital_status_maried(Y/N)               0
number_of_dependences                    0
Education_level                          0
job_duration_from_training               0
branch_rotation                          0
job_rotation                             0
assign_of_otherposition                  0
annual leave                             0
sick_leaves                              0
Last_achievement_%                       0
Achievement_above_100%_during3quartal    0
dtype: int64

In [32]:
tahun = 2020
X_train['age'] = tahun - X_train['age']
X_test['age'] = tahun - X_test['age']

In [33]:
X_train['age'].value_counts()

32    1558
33    1473
34    1348
31    1323
35     954
30     926
36     654
29     510
37     472
38     286
39     240
40     228
28     192
41     154
42     121
43      92
44      73
45      55
27      55
46      47
47      45
52      44
51      41
50      38
49      38
53      35
48      35
56      29
55      27
54      25
26      16
25       7
57       6
24       4
23       1
Name: age, dtype: int64

In [45]:
# data contain values
cont_col=[col for col in X_train.columns if X_train[col].dtype!='O']
cont_col_test=[col for col in X_test.columns if X_test[col].dtype!='O']
cont_col

['job_duration_in_current_job_level',
 'job_duration_in_current_person_level',
 'job_duration_in_current_branch',
 'gender',
 'age',
 'number_of_dependences',
 'job_duration_from_training',
 'branch_rotation',
 'job_rotation',
 'assign_of_otherposition',
 'annual leave',
 'sick_leaves',
 'Last_achievement_%',
 'Achievement_above_100%_during3quartal']

In [46]:
cont_col_test

['job_duration_in_current_job_level',
 'job_duration_in_current_person_level',
 'job_duration_in_current_branch',
 'gender',
 'age',
 'number_of_dependences',
 'job_duration_from_training',
 'branch_rotation',
 'job_rotation',
 'assign_of_otherposition',
 'annual leave',
 'sick_leaves',
 'Last_achievement_%',
 'Achievement_above_100%_during3quartal']

In [36]:
# data contain category
cat_col=[col for col in X_train.columns if X_train[col].dtype=='O']
cat_col_test=[col for col in X_test.columns if X_test[col].dtype=='O']
cat_col_test

['job_level',
 'person_level',
 'Employee_type',
 'marital_status_maried(Y/N)',
 'Education_level']

In [37]:
categorical=X_train[cat_col]
categorical_test=X_test[cat_col_test]
categorical.head()

,job_level,person_level,Employee_type,marital_status_maried(Y/N),Education_level
0,JG04,PG03,RM_type_A,Y,level_0
1,JG04,PG03,RM_type_A,Y,level_1
2,JG05,PG06,RM_type_C,Y,level_1
3,JG05,PG06,RM_type_A,Y,level_1
4,JG05,PG06,RM_type_A,Y,level_1

In [38]:
#now extract how many categories in each cat_feature
for feature in categorical.columns:
    print('{} has total {} categories \n'.format(feature,len(categorical[feature].value_counts())))
print('---------------------------')
for feature in categorical_test.columns:
    print('{} has total {} categories \n'.format(feature,len(categorical_test[feature].value_counts())))

job_level has total 3 categories

person_level has total 8 categories

Employee_type has total 3 categories

marital_status_maried(Y/N) has total 2 categories

Education_level has total 6 categories

---------------------------
job_level has total 4 categories

person_level has total 7 categories

Employee_type has total 3 categories

marital_status_maried(Y/N) has total 2 categories

Education_level has total 6 categories

In [39]:
categorical['job_level'].value_counts()

JG04    10412
JG05      704
JG03       36
Name: job_level, dtype: int64

In [19]:
categorical_test['job_level'].value_counts()

JG04    5616
JG05     372
JG03      11
JG06       1
Name: job_level, dtype: int64

In [ ]:
categorical['person_level'].value_counts()

In [ ]:
categorical_test['person_level'].value_counts()

In [ ]:
categorical['marital_status_maried(Y/N)'].value_counts()

In [ ]:
categorical['Education_level'].value_counts()

In [ ]:
# categorical['marital_status_maried(Y/N)'].unique()

In [40]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
for i in ['job_level', 'person_level', 'Employee_type', 'marital_status_maried(Y/N)','Education_level']:
    categorical[i]=encoder.fit_transform(categorical[i])
    categorical_test[i]=encoder.fit_transform(categorical_test[i])

C:\Users\farha\Anaconda3\envs\tensorflow_gpu\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\farha\Anaconda3\envs\tensorflow_gpu\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [41]:
X_train[cont_col]

,job_duration_in_current_job_level,job_duration_in_current_person_level,job_duration_in_current_branch,gender,age,number_of_dependences,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal
0,1.352775,1.352775,1.732051,2,35,1,4,2,3,2,3,0,46.37,0.0
1,1.292285,1.292285,1.039230,2,31,0,4,4,3,0,0,1,47.68,0.0
2,2.565151,2.308679,1.780449,1,50,1,28,10,9,6,2,1,40.73,0.0
3,2.828427,1.000000,1.385641,2,53,2,29,11,6,0,4,10,47.42,0.0
4,2.828427,2.828427,0.707107,2,55,3,30,9,8,2,3,0,47.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11148,1.256981,1.256981,1.224745,2,34,1,4,3,3,0,4,1,50.87,0.0
11149,1.385641,1.385641,1.802776,1,32,2,3,1,2,0,6,0,79.91,0.0
11150,1.256981,1.256981,1.385641,2,29,0,2,1,2,0,4,0,78.38,0.0
11151,1.118034,1.118034,0.000000,1,33,1,5,5,4,0,4,1,85.94,1.0
11152,2.828427,2.121320,1.473092,2,40,2,14,5,7,0,2,0,79.99,1.0

In [42]:
def drop_column(df,col):
    df.drop(col,axis=1,inplace=True)

In [24]:
X_test[cont_col]

,job_duration_in_current_job_level,job_duration_in_current_person_level,job_duration_in_current_branch,gender,age,number_of_dependences,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal
0,1.256981,1.256981,0.707107,1,32,0,2009,6,4,2,6,3,7,84.02,0.0
1,1.224745,1.224745,1.256981,2,29,0,2014,2,2,2,0,1,0,63.74,0.0
2,0.500000,0.500000,1.081665,2,31,1,2011,4,2,2,0,2,1,88.19,1.0
3,1.256981,1.256981,1.802776,2,30,1,2014,3,1,3,0,3,0,25.94,0.0
4,1.352775,1.352775,1.224745,1,35,0,2007,5,3,2,0,3,0,82.32,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,1.292285,1.292285,0.707107,2,32,0,2015,2,2,2,0,4,0,58.60,0.0
5996,1.352775,1.352775,1.581139,2,31,1,2011,5,3,2,7,3,0,90.64,3.0
5997,1.385641,1.385641,1.224745,2,29,0,2013,3,2,3,0,16,0,13.02,0.0
5998,1.385641,1.385641,0.648074,2,40,2,2003,14,7,6,8,2,0,82.26,0.0
5999,1.352775,1.352775,0.707107,2,33,1,2008,5,4,3,2,3,0,66.62,0.0

# Scaler

In [47]:
int_col=[col for col in X_train.columns if X_train[col].dtype=='int64']
int_col_test=[col for col in X_test.columns if X_test[col].dtype=='int64']

In [48]:
X_train[int_col]
X_test[int_col_test]

,gender,age,number_of_dependences,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves
0,1,32,0,6,4,2,6,3,7
1,2,29,0,2,2,2,0,1,0
2,2,31,1,4,2,2,0,2,1
3,2,30,1,3,1,3,0,3,0
4,1,35,0,5,3,2,0,3,0
...,...,...,...,...,...,...,...,...,...
5995,2,32,0,2,2,2,0,4,0
5996,2,31,1,5,3,2,7,3,0
5997,2,29,0,3,2,3,0,16,0
5998,2,40,2,14,7,6,8,2,0
5999,2,33,1,5,4,3,2,3,0

In [49]:
float_col=[col for col in X_train.columns if X_train[col].dtype=='float64']
float_col_test=[col for col in X_test.columns if X_test[col].dtype=='float64']

In [50]:
float_col

['job_duration_in_current_job_level',
 'job_duration_in_current_person_level',
 'job_duration_in_current_branch',
 'Last_achievement_%',
 'Achievement_above_100%_during3quartal']

In [51]:
X_train[float_col]

,job_duration_in_current_job_level,job_duration_in_current_person_level,job_duration_in_current_branch,Last_achievement_%,Achievement_above_100%_during3quartal
0,1.352775,1.352775,1.732051,46.37,0.0
1,1.292285,1.292285,1.039230,47.68,0.0
2,2.565151,2.308679,1.780449,40.73,0.0
3,2.828427,1.000000,1.385641,47.42,0.0
4,2.828427,2.828427,0.707107,47.18,0.0
...,...,...,...,...,...
11148,1.256981,1.256981,1.224745,50.87,0.0
11149,1.385641,1.385641,1.802776,79.91,0.0
11150,1.256981,1.256981,1.385641,78.38,0.0
11151,1.118034,1.118034,0.000000,85.94,1.0
11152,2.828427,2.121320,1.473092,79.99,1.0

In [52]:
X_float_scale = scaler.fit_transform(X_train[float_col])
X_float_scale_test = scaler.fit_transform(X_test[float_col_test])

NameError: name 'scaler' is not defined

In [ ]:
X_scale_train = pd.DataFrame()
X_scale_train[float_col] = pd.DataFrame(X_float_scale)
X_scale_test = pd.DataFrame()
X_scale_test[float_col_test] = pd.DataFrame(X_float_scale_test)

In [ ]:
X_scale_test

# Feature Concate

In [ ]:
categorical

In [ ]:
def drop_column(df,col):
    df.drop(col,axis=1,inplace=True)

#concat with normal data
# X_train=pd.concat([categorical,X_train[cont_col]],axis=1)
# X_test=pd.concat([categorical_test,X_test[cont_col_test]],axis=1)
# X_train.info()

#concat with data scaler
X_train=pd.concat([categorical,X_scale_train],axis=1)
X_test=pd.concat([categorical_test,X_scale_test],axis=1)
X_train.info()
X_test.head()

# Feature Correlation

In [ ]:

from sklearn.ensemble import ExtraTreesClassifier
import matplotlib.pyplot as plt
model = ExtraTreesClassifier()
model.fit(X_train,y_train)
print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X_train.columns)
feat_importances.nlargest(10).plot(kind='barh')
plt.show()

In [ ]:
num_feats= len(X_train.columns)
print(num_feats)

In [ ]:
# drop_column(X_train,'job_level')
# drop_column(X_train,'person_level')
# drop_column(X_train,'marital_status_maried(Y/N)')
# drop_column(X_train,'Employee_type')
# drop_column(X_train,'Achievement_above_100%_during3quartal')
# drop_column(X_train,'Education_level')

# drop_column(X_test,'job_level')
# drop_column(X_test,'person_level')
# drop_column(X_test,'marital_status_maried(Y/N)')
# drop_column(X_test,'Employee_type')
# drop_column(X_test,'Achievement_above_100%_during3quartal')
# drop_column(X_test,'Education_level')

In [ ]:
# cat_columns = ['job_level', 'person_level', 'Employee_type', 'marital_status_maried(Y/N)', 'Education_level', 'Employee_type']
# for cat in cat_columns:
#     labelencoder = LabelEncoder()
#     X_train_[cat] = labelencoder.fit_transform(X_train_[cat].astype(str))
#     X_test_[cat] = labelencoder.transform(X_test_[cat].astype(str))

In [ ]:

#split x_train and x_val
X_train_, X_test_, y_train_, y_test_ = train_test_split(X_train, y_train, test_size=0.2, random_state=38)

In [ ]:
X_train_

# CatBoost

In [ ]:
cate_features_index = np.where(X_train.dtypes != float)[0] 
cate_features_index

In [ ]:

from catboost import Pool, CatBoostClassifier, cv
cate_features_index = np.where(X_train.dtypes != float)[0] 
X_train_, X_test_, y_train_, y_test_ = train_test_split(X_train, y_train, test_size=0.2, random_state=38)

In [ ]:
model = CatBoostClassifier(iterations=1500, learning_rate=0.01, l2_leaf_reg=3.5, depth=8, rsm=0.98, loss_function= 'Logloss', eval_metric='AUC',use_best_model=True,random_seed=42)

In [ ]:
model.fit(X_train_, y_train_, cat_features=cate_features_index,eval_set=(X_test_, y_test_))

In [ ]:
pred = model.predict_proba(X_test)
preds= pred[:,1]

In [ ]:
preds

In [ ]:
#generating submission csv
submission = pd.DataFrame(preds)
#save the file to your directory
submission.to_csv('test-catboost2.csv',index_label='index',header=['value'])

# LGBM

In [ ]:
class lgbm_target :
    def __init__(self, x_train, y_train, x_test, y_test) :
        self.x_train = x_train
        self.y_train = y_train
        self.x_test = x_test
        self.y_test = y_test
        
    def clean_param(self, param) :
        params = {'boosting_type':'gbdt', 'class_weight':None, 'colsample_bytree':1.0, 
                  'importance_type':'split', 'learning_rate':0.1,
                  'min_child_samples':2000, 'min_split_gain':0.0, 'n_estimators':10, 'objective':None,
                  'random_state':0, 'reg_alpha':0.0, 'reg_lambda':0.0, 'silent':True,
                  'subsample':1.0, 'subsample_for_bin':200000, 'subsample_freq':0}
        params['num_leaves'] = int(param['num_leaves'])
        params['min_child_weight'] = int(param['min_child_weight'])
        params['max_depth'] = int(param['max_depth'])
        params['learning_rate'] = 0.1
        params['min_data_in_bin'] = 1
        params['min_data'] = 1
        
        params['min_child_samples'] = int(param['min_child_samples'])
        params['bagging_fraction'] = param['bagging_fraction']
        params['lambda_l1'] = param['lambda_l1']
        params['lambda_l2'] = param['lambda_l2']

        return params
        
    def evaluate(self, min_child_weight, max_depth, num_leaves,
                min_child_samples, bagging_fraction, lambda_l1, lambda_l2):
        params = {'num_leaves':num_leaves, 
                  'min_child_weight':min_child_weight, 
                  'max_depth':max_depth,
                 'min_child_samples':min_child_samples,
                 'bagging_fraction' : bagging_fraction,
                 'lambda_l1' : lambda_l1,
                 'lambda_l2' : lambda_l2}
        
        params = self.clean_param(params)
        res=[]
        lgbm_model = lgb.LGBMClassifier(**params)
        lgbm_model.fit(self.x_train, self.y_train)
        y_pred = lgbm_model.predict_proba(self.x_test)
        predictions = y_pred[:,1]
        res.append(predictions)
        acc = roc_auc_score(self.y_test,predictions)
        print('######',acc)
        return acc


lt = lgbm_target(X_train_, y_train_, X_test_, y_test_)
lgbmBO = BayesianOptimization(lt.evaluate, {'min_child_weight': (0.01, 1),
                                              'max_depth': (7, 25),
                                              'num_leaves': (5, 50),
                                            'min_child_samples' :(10,50),
                                            'bagging_fraction' : (0.5,1),
                                            'lambda_l1' : (0,1),
                                            'lambda_l2' : (0,1)
                                           }, 
                             random_state=3)

lgbmBO.maximize(init_points=10, n_iter=55)

In [ ]:
b=lgbmBO.max['params']
print(b)

|   iter    |  target   | baggin... | lambda_l1 | lambda_l2 | max_depth | min_ch... | min_ch... | num_le... |

In [ ]:
params = {'min_child_weight': b['min_child_weight'],
              'max_depth': round(b['max_depth']),
              'num_leaves': round(b['num_leaves']),
            'min_child_samples' :round(b['min_child_samples']),
            'bagging_fraction' : b['bagging_fraction'],
            'lambda_l1' : b['lambda_l1'],
            'lambda_l2' : b['lambda_l2']
           }
model_lgb = lgb.LGBMClassifier(**params)
model_lgb.fit(X_train,y_train)
model_lgb.predict_proba(X_test)[:,1]
sample_submission['Best Performance'] = model_lgb.predict_proba(X_test)[:,1]
# sample_submission.to_csv('submission.csv')

In [ ]:
'''ADVERSARIAL VALIDATION'''
y_label_adv = np.zeros((X_train.shape[0]+ X_test.shape[0]))
y_label_adv[:X_train.shape[0]] = 1
adversarial_data = pd.concat((X_train,X_test))
# model_lgb = lgb.LGBMClassifier()
X_train_, X_test_, y_train_, y_test_ = train_test_split(adversarial_data, y_label_adv, test_size=0.33, random_state=38)

model_lgb.fit(X_train_,y_train_)
y_pred  = model_lgb.predict(X_test_)
roc_auc_score(y_pred,y_test_)

In [ ]:
'''0.55 acc'''
params = {'min_child_weight': 0.6715,
              'max_depth': 12,
              'num_leaves': 20,
            'min_child_samples' :24,
            'bagging_fraction' : 0.8538,
            'lambda_l1' : 0.7467,
            'lambda_l2' : 0.6911
           }
model_lgb = lgb.LGBMClassifier(**params)
model_lgb.fit(X_train,y_train)
model_lgb.predict_proba(X_test)[:,1]
sample_submission['Best Performance'] = model_lgb.predict_proba(X_test)[:,1]
# sample_submission.to_csv('submission.csv')

In [ ]:
'''0.55 acc-modified'''
params = {'min_child_weight': 0.5,
              'max_depth': 12,
              'num_leaves': 20,
            'min_child_samples' :24,
            'bagging_fraction' : 0.7,
            'lambda_l1' : 0.746,
            'lambda_l2' : 0.6
           }
model_lgb = lgb.LGBMClassifier(**params)
model_lgb.fit(X_train,y_train)
model_lgb.predict_proba(X_test)[:,1]
sample_submission['Best Performance'] = model_lgb.predict_proba(X_test)[:,1]
# sample_submission.to_csv('submission.csv')

In [ ]:
y_label_adv.shape

In [ ]:
sample_submission

In [ ]:
sample_submission.to_csv('submission_54.csv', index=False)

# XGBoost

In [ ]:
import xgboost as xgb

In [ ]:
from sklearn.model_selection import cross_val_score
# fit model to training data
model = xgb.XGBRFClassifier(n_estimators=1000, random_state=1245)
# cross validation score
score = cross_val_score(model, X_train, y_train, cv=5, scoring="roc_auc", n_jobs=-1)
print("XGB ROC-AUC Mean Score: ", np.mean(score))

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:

dtrain = xgb.DMatrix(X_train, y_train, feature_names=X_train.columns.values)

def hyp_xgb(max_depth, subsample, colsample_bytree,min_child_weight, gamma, learning_rate):
    params = {
    'objective': 'binary:logistic',
    'eval_metric':'auc',
    'nthread':-1,
#     'booster':'dart'
    'booster':'gbtree'
     }
    
    params['max_depth'] = int(round(max_depth))
    params['subsample'] = max(min(subsample, 1), 0)
    params['colsample_bytree'] = max(min(colsample_bytree, 1), 0)
    params['min_child_weight'] = int(min_child_weight)
    params['gamma'] = max(gamma, 0)
    params['learning_rate'] = learning_rate
    scores = xgb.cv(params, dtrain, num_boost_round=500,verbose_eval=False, 
                    early_stopping_rounds=10, nfold=5)
    return scores['test-auc-mean'].iloc[-1]

In [ ]:
pds ={
  'min_child_weight':(3, 20),
  'gamma':(0, 10),
  'subsample':(0.5, 1),
  'colsample_bytree':(0.1, 1),
  'max_depth': (2, 15),
  'learning_rate': (0.01, 0.5)
}

In [ ]:
optimizer = BayesianOptimization(hyp_xgb, pds, random_state=1)
optimizer.maximize(init_points=5, n_iter=55)

In [ ]:
a = optimizer.max['params']

In [ ]:
round(a['min_child_weight'])

In [ ]:
params = {
    'colsample_bytree': a['colsample_bytree'],
 'gamma': a['gamma'],
 'learning_rate': a['learning_rate'],
 'max_depth': round(a['max_depth']),
 'min_child_weight': round(a['min_child_weight']),
 'subsample': a['subsample'],
    'objective': 'binary:logistic',
    'eval_metric':'auc',
    'n_jobs':-1
}

In [ ]:
xgbr =  xgb.XGBClassifier(**params, random_state=1245, nthread=-1)
score = cross_val_score(xgbr, X_train, y_train, cv=5, scoring="roc_auc", n_jobs=-1)
print("XGB ROC-AUC Mean Score: ", np.mean(score))

In [ ]:

xgbr.fit(X_train, y_train)

In [ ]:
'''ADVERSARIAL VALIDATION'''
y_label_adv = np.zeros((X_train.shape[0]+ X_test.shape[0]))
y_label_adv[:X_train.shape[0]] = 1
adversarial_data = pd.concat((X_train,X_test))
# model_lgb = lgb.LGBMClassifier()
X_train_, X_test_, y_train_, y_test_ = train_test_split(adversarial_data, y_label_adv, test_size=0.33, random_state=38)

xgbr.fit(X_train_,y_train_)
y_pred  = model_lgb.predict(X_test_)
roc_auc_score(y_pred,y_test_)

In [ ]:
# Predict the probability using predict_proba
y_pred = xgbr.predict_proba(X_test)[:,1]

In [ ]:
y_pred

In [ ]:
#generating submission csv
submission = pd.DataFrame(y_pred)
#save the file to your directory
submission.to_csv('test-xgboost.csv',index_label='index',header=['value'])